<h2>What is Diabetes?</h2>
<p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.
Over time, having too much glucose in your blood can cause health problems. Although diabetes has no cure, you can take steps to manage your diabetes and stay healthy.

Sometimes people call diabetes “a touch of sugar” or “borderline diabetes.” These terms suggest that someone doesn’t really have diabetes or has a less serious case, but every case of diabetes is serious.</p>

<h2>Different Types</h2>
<h3>Type 1</h3>

<p>Diabetes type 1
Type 1 diabetes is an auto-immune disease where the body's immune system attacks the insulin-producing cells of the pancreas. People with type 1 diabetes cannot produce insulin and require lifelong insulin replacement for survival.
The disease can occur at any age, although it mostly occurs in children and young adults. Type 1 diabetes is sometimes referred to as 'juvenile onset diabetes' or 'insulin dependent diabetes'.</p>

<h3>Type 2</h3>

<p>Type 2 diabetes is associated with hereditary factors and lifestyle risk factors including poor diet, insufficient physical activity and being overweight or obese.
People with type 2 diabetes may be able to manage their condition through lifestyle changes; however, diabetes medications or insulin replacement may also be required to control blood sugar levels.
Type 2 diabetes occurs mostly in people aged over 40 years old; however, the disease is also becoming increasingly prevalent in younger age groups.</p>

<h2>Diabetes Management</h2>
<h3>Type 1</h3>
<p>In type 1 diabetes, the pancreas produces little or no insulin which is vital for converting glucose into energy. People with type 1 diabetes need to do the job of the pancreas and replace the insulin via insulin injections or an insulin pump. The insulin acts to reduce the level of glucose in the blood.</p>

<h3>Type 2</h3>
<p>In type 2 diabetes, your pancreas is still working but not as effectively as it needs to. This means your body is building insulin resistance and is unable to effectively convert glucose into energy leaving too much glucose in the blood. Type 2 diabetes can sometimes initially be managed through lifestyle modification including a healthy diet, regular exercise and monitoring your blood glucose levels.</p>

<h2>Prevention</h2>
<p>Evidence, including large-scale randomised control trials, shows type 2 diabetes can be prevented or delayed in up to 58 per cent of cases by maintaining a healthy weight, being physically active and following a healthy eating plan.

People at risk of type 2 diabetes can delay and even prevent the condition by:</p>
<ul>
  <li>Maintaining a healthy weight</li>
  <li>Regular physical activity</li>
  <li>Making healthy food choices</li>
  <li>Managing blood pressure</li>
  <li>Managing cholesterol levels</li>
  <li>Not smoking.</li>
</ul>
