<% if @current_user.user_type === 'admin' %>
  Welcome, Lord Admin
<% end %>

<% if @current_user.user_type === 'doctor' %>
  <p>Your Patients</p>
  <div class="patient_list">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Most Recent Level</th>
          <th>Note Last Updated</th>
          <th></th>
        </tr>
        <tr>
          <td>Jude</td>
          <td>5.3</td>
          <td>26/02/20120</td>
          <td><a href="/users/14">Patient Details</a></td>
        </tr>
      </thead>
    </table>
  </div>
<% end %>

<% if @current_user.user_type === 'patient' %>
  <div class="patient_medications">
    Patient Medications
  </div>
  <div class="patient_levels">
    Patient Levels
  </div>
  <%= link_to 'History', blood_sugars_path %>
  <div class="doctors_notes">
    <div class="note_header">Ram's Notes</div>
    <div class="latest_note">Increased insulin by 2 units per day</div>

  </div>

<% end %>
